<table class="table">
<thead>
<tr>
    <th></th>
    <th>Start wizyty</th>
    <th>Pacjent</th>
</tr>
</thead>
    <tbody>
    {% for key,visit in value %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ visit.startDate | date }}</td>
            <td>{{ visit.patient.firstName }} {{ visit.patient.lastName }}</td>
        </tr>
    {%  endfor %}
    </tbody>
</table>